<div class="container">
    <md-nav-bar md-selected-nav-item="navCtrl.currentState" nav-bar-aria-label="navigation links">
        <md-nav-item ng-repeat="item in navCtrl.items" md-nav-click="navCtrl.goTo(item.state)" name="{{item.name}}">
            <md-icon md-colors="{color:'primary'}" ng_bind="item.icon"></md-icon> {{item.name.toUpperCase()}}
        </md-nav-item>
        <span flex></span>
        <md-button md-colors="{color:'grey-600'}" ng-click="navCtrl.logout()">
            <md-icon class="logout-icon" ng_bind="'exit_to_app'"></md-icon>Logout
        </md-button>
    </md-nav-bar>
    <div ui-view></div>
</div>
